
<h1>Manage your daily tasks easily!!!</h1>
  <div class="input-group" >
      <input type="text" class="form-control" id="addTask" placeholder="Add a task here!" size =100>

  </div>

<div class="container" id="taskList">
  <ul id="sortable">
    <% @works.each do |work| %>
      <li class="ui-state-default"   data-id=<%= work.id%>> <%= work.name %>
        <button type="button" class="btn btn-default btn-xs pull-right" aria-label="Delete">
        <i class="fa fa-trash-o "></i>
      </button> 
 </li>
    <% end %>
  </ul>
</div>

<div class="container" id="detailedTask">
  <div class="input-group">
    <input type="text" class="form-control" id="descTask" placeholder="Add description!">
    <button type="button" class="btn btn-default btn-xs pull-right" aria-label="Delete">
        <i class="fa fa-trash-o "></i>
      </button>
  </div>
</div>

<br>

<%= link_to 'New Work', new_work_path %>
