#lisort { list-style-type: none; margin: 0; padding: 10;  }
#lisort li { margin: 0 3px 3px 3px; padding-left: 1.5em; font-size: 16px;  font-family: Lato, 'Helvetica Neue',Helvetica, Arial, sans-serif }
#descTask{opacity: 0.5}
lisort {text-align: center;}
.list-group-item{
	border: 1px solid #d3d3d3;
	font-weight: normal;
	color: #555555;
	border-radius: 5px;
	height: 40px;
	box-shadow: 100px,10px,10px, black;
	z-index: 100;
}
.title{
	text-decoration: color black;
}

#detailedTask{
	border:1px solid #B0C0E0;
	background-color: white;
	height: 500px;
	
	

}
.panel-transparent {
        background: none;
    }

.task-item{
	margin: 0 0 0 36px;
	box-shadow: 5px 5px 5px #B0C0E0;
}

#Delete{
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 margin: 20px;
	 
}
#hide{
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}



